@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap');

body {
    background-color: #ecf0f1; /* Barva pozadí stránky */

    margin: 0; /* Rušíme výchozí okraje, které vkládá prohlížeč */
    padding: 0;
}
            
h1 {
    font-size: 24pt; /* Velikost písma */
    font-family: 'Montserrat', sans-serif; /* Druh písma */
    color: #fff; 
        /* Barva textu, to samé jako #ffffff nebo jako rgb(255,255,255) */

    margin: 0; /* Rušíme výchozí okraje, které vkládá prohlížeč */   
    padding-top: 30px; /* Horní vnitřní okraj */
    padding-bottom: 30px; /* Spodní vnitřní okraj */

    width: 1000px; /* Šířka stránky */
    margin-left: auto; /* Vycentrování */
    margin-right: auto;
}

h2 {
    font-size: 18pt; /* Velikost písma */
    font-family: 'Montserrat', sans-serif; /* Druh písma */
}

header {
    background-color: #3742fa; /* Barva pozadí */
}
            
article {
    font-size: 12pt; /* Velikost písma */
    font-family: 'Roboto', sans-serif; /* Druh písma */

    width: 1000px; /* Šířka stránky */
    margin-left: auto; /* Vycentrování */
    margin-right: auto;

    padding-top: 5px; /* Horní vnitřní okraj, tedy místo mezi menu a headerem */
}

.menu { /* Třída pro odkazy */
    color: #000; /* Barva textu */
    font-size: 14pt; /* Velikost písma */
}

.druha { /* Třída pro prostřední odkaz */
    padding-left: 20px; /* Levý vnitřní okraj */
    padding-right: 20px; /* Pravý vnitřní okraj */
}

a:hover { /* Pseudotřída "hover", jsou zde pravidla, která se aplikují, když je kurzor nad objektem */
    color:#3742fa; /* Barva textu */
    text-decoration: none; /* Zrušit podtržení */
}

img {
    float: left; /* Obrázek je vlevo, obtéká jej text zprava */

    width: 450px; /* Šířka obrázku */
    /* height: 400px; */ /* Výška obrázku není definována, dopočítá se sama ze šířky */
    border: 2px solid #000; /* 2px široký celobarevný (solid) černý rámeček */
    padding: 2px; /* Vnitřní okraj */
    margin: 10px; /* Vnější okraj */
    margin-left: 0px; /* Levý vnější okraj */
}