body, h1 {
    margin: 0; /* Zrusime okraje */
    font-family: sans-serif;
}

header {
    background-color: #130f40;
    color: #fff;
    
    position: fixed; /* Prvek je absolutne pozicovany, ale zustava na miste */

    left: 0; /* Uplne vlevo */
    top: 0; /* Uplne nahore */
    
    height: 43px;
    width: calc(100% - 60px); 
        /* Header ma nastaveny padding na 30px na vsech stranach, tudiz ho odecitame dvakrat */
    
    padding: 30px;

    z-index: 10;  
        /* Prvek bude prekryvat vsechno, co ma nizsi hodnotu */
}

.ikony {
    position: fixed;

    top: 30px; /* 30px od horniho okraje */
    right: 30px; /* 30px od praveho okraje */

    z-index: 20;
        /* Prvek bude prekryvat vsechno, co ma nizsi hodnotu */
}

.ikony img {
    width: 43px;
    margin-left: 10px;

    border-radius: 43px;   
        /* Zaobleni okraju */
}

nav {
    background-color: #130f40;
    
    position: fixed;
    
    left: 0;
    top: 103px;

    width: 250px;
    height: calc(100% - 103px);
        /* 103px = 43px (vyska headeru) + 30px + 30px (padding-top a -bottom u headeru) */ 
}

nav a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 2px;

    width: calc(100% - 30px);
        /* Šířka NAV bez padding-left */

    display: inline-block;

    color: #fff;
    background-color: #30336b;

    text-transform: uppercase;
        /* Vsechna pismena budou velka */
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #10235b;
}

main {
    margin-left: 270px;
    margin-top: 123px;
}