table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
}

td {
    border: 1px solid #000;
    width: 33px;
    height: 33px;
    font-size: 17pt;
    text-align: center;
}