header {
    text-align: center;
}

article {
    display: flex; /* Jedna se o flexbox */
    justify-content: space-between; /* Zarovnani obsahu jednotlivych boxu */
    flex-wrap: wrap; /* Zalamovani, kdyz se nevejde */
    width: 1100px; /* Sirka containeru */
    margin: auto; /* Zarovnani containeru na stred */
}

section {
    width: 150px; /* Vychozi sirka jednotlivych boxu */
    text-align: justify;
}

@media (min-width: 900px) and (max-width: 1200px) {
    article {width: 800px;} /* Musi byt nizsi, nez min-width v podmince */
    section {width: 220px;} /* Vejde se nejvyse trikrat */
}

@media (min-width: 650px) and (max-width: 899px) {
    article {width: 600px;}
    section {width: 260px;} /* Vejde se nejvyse dvakrat */
}

@media (max-width: 649px) {
    article {width: 100%;}
    section {
        margin: auto; /* Zarovnani na stred */
        width: 97%;
        max-width: 400px; 
            /* Kdyz bude sirka stranky vyssi, boxy zustanou na 400px */
            /* Toto lze udelat i pomoci dalsiho @media pravidla */
    }
}