p {
    text-align: justify; /* Zarovnani do bloku */
}

nav a { 
    /* Pouze odkazy uvnitr "nav" */
    margin: 10px;
    font-size: 14pt;
}

article p a { 
    /* Pouze odkazy uvnitr "p" uvnitr "article" */
    color: red;
}

article p a:hover { 
    /* Zmena odkazu uvnitr "p" uvnitr "article" po najeti mysi (viz 3. lekce) */
    color: violet;
}

#sede-odstavce p { 
    /* Pouze odstavce, ktere jsou uvnitr prvku, ktery ma id "sede-odstavce" */
    color: grey;
}

footer {
    margin-top: 100px;
    text-align: center;
}