body, h1 {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #2ecc71;
    text-align: center;

    padding: 30px;
}

nav {
    background-color: #27ae60;
    text-align: center;
    
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: #000;
    font-weight: bold;

    padding-left: 15px;
    padding-right: 15px;

    display: inline;
}

nav a:hover {
    text-decoration: none;
}

main {   
    margin: 15px;
    font-size: 13pt;
}

section.ikony {
    position: absolute;
    right: 20px;
    top: 20px;
    
    z-index: 200;
}

section.ikony img {
    width: 30px;
    border-radius: 15px;
}

@media (max-width: 710px) { 
    /* Plati pro 710px a mene */
    
    main {   
        font-size: 11pt;
    }
}

@media (min-width: 500px) and (max-width: 710px) { 
    /* Plati pro 500px az 710px */

    nav a {
        display: block;
        margin: 10px;
    }
}

@media (max-width: 499px) {
    /* Plati pro 499px a mene */

    nav a {
        display: block;
        margin: 10px;
    }

    section.ikony {
        left:0;
        top:77px;
        text-align: center;
        position: absolute;
        width:100%;
    }

    header {
        padding-bottom: 60px;
    }
}