* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body, h1 {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

h1 {
    width: 1000px;
    line-height: 100px;
    font-size: 2.5rem;
    margin: auto;
}

main {
    width: 100%;
}

article {
    width: 1000px;
    margin: auto;
} 

div.container {
    display: flex;
    justify-content: space-between;
}

div.container div {
    background-color: aquamarine;
    width: 300px;
    padding: 20px;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 15px;
}

h2 {
    padding: 17px 0 5px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: justify;
}

footer {
    background-color: aquamarine;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 100px;
}

