body, h1 {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #2ecc71;
    text-align: center;

    position: absolute;
    left: 0;
    top: 0;

    width: calc(100% - 60px); /* 60 = 30 + 30 */
    height: 36px; /* Hodnota urcena metodou pokus-omyl */

    padding: 30px;
}

nav {
    background-color: #27ae60;
    text-align: center;
    
    position: absolute;

    left: 0;
    top: 96px; /* 96 = 36 + 30 + 30 */

    width: 100%;
    height: 19px; /* Hodnota urcena metodou pokus-omyl */

    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: #000;
    font-weight: bold;

    padding-left: 15px;
    padding-right: 15px;
}

nav a:hover {
    text-decoration: none;
}

main {
    width: calc(100% - 235px); /* 235 = 200 + 35 (okraje) */
    
    margin-left: 15px;
    margin-top: 165px;
        /*
            165 = 
                96 (nav top) +  
                10 (nav padding-top) + 
                10 (nav padding-bottom) +
                19 (nav height) + 
                30 (okraj)
        */   

    font-size: 13pt;
}

aside {
    position: absolute;

    right: 0;
    top: 135px;
    /*
        155 = 
            96 (nav top) +  
            10 (nav padding-top) + 
            10 (nav padding-bottom) +
            19 (nav height)
    */
    
    width: 200px;
    height: calc(100% - 135px);
}