#hra {
    display: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    border: 2px solid #000;
}

td {
    width: 33px;
    height: 33px;
    font-size: 17pt;
    text-align: center;
}