/*
    Az na zde uvedene vyjimky je tento kod opakovani, vizte 5. a 6. lekci
*/

body, h1 {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #2ecc71;
    text-align: center;

    position: absolute;
    left: 0;
    top: 0;

    width: calc(100% - 60px);
    height: 36px;

    padding: 30px;

    z-index: 100;
}

nav {
    background-color: #27ae60;
    text-align: center;
    
    position: absolute;

    left: 0;
    top: 96px;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    z-index: 100;
}

nav a {
    color: #000;
    font-weight: bold;

    padding-left: 15px;
    padding-right: 15px;
}

nav a:hover {
    text-decoration: none;
    position: relative;
    top: -2px; /* Odkazy v navigaci se po najeti posunou o 2px smerem nahoru */
}

main {
    width: calc(100% - 235px);
    
    margin-left: 15px;
    margin-top: 165px; 

    font-size: 13pt;
}

aside {
    position: absolute;

    right: 0;
    top: 155px;
    
    width: 200px;
    height: calc(100% - 135px);
}

aside a {
    line-height: 30px; /* Vyska radku, obdoba nastaveni radkovani napr. v MS Word */
    color: #000;
}

section.ikony {
    position: absolute;
    right: 20px;
    top: 20px;
    
    z-index: 200;
}

section.ikony img {
    width: 30px;
    border-radius: 15px;
}